.footer {
  width: 100%;
  background-color: #fafafa;
}

.footer__hidden {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.footer__icon {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.footer__wrapper {
  max-width: 1452px;
  margin: 0 auto;
  display: flex;
  padding: 50px 25px 57px 21px;
}

.footer__wrap-copyright {
  border-top: 1px solid rgba(95, 105, 98, 0.2);
}

.footer__copyright {
  max-width: 1452px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  min-height: 52px;
}

.footer__confidentiality,
.footer__developed {
  color: #1b2d37;
}

.footer__confidentiality:hover,
.footer__developed:hover {
  color: $blue;
}

.footer__address {
  min-width: auto;
  padding-left: 78px;
}

.footer-contaner {
  flex-basis: 33.333%;
}

.footer__logo-img {
  display: flex;
}

.footer__logo-img a {
  display: flex;
  width: 215px;
}

.footer__logo-img a:hover {
  opacity: 0.6;
}

.footer__logo-img a p {
  font-family: $roboto-con;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 14px;
  color: #203c42;
  padding-top: 28px;
  padding-left: 10px;
  width: 165px;
}

.footer__logo-img a img {
  margin-top: 15px;
}

.footer__logo-img a p span {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #788891;
  font-family: $roboto;
}

.footer__logo ul li {
  margin-right: 15px;
}

.footer__logo ul li svg {
  fill: #cdcdcd;
}

.footer__logo ul li svg:hover {
  fill: $blue;
  cursor: pointer;
}

.footer__logo ul {
  display: flex;
  margin-top: 50px;
  align-items: center;
}

.footer__span {
  display: none;
}

.footer__nav {
  min-width: 570px;
  margin-right: 25px;
  padding-left: 0 px;
}

.footer__nav h2 {
  font-family: $roboto-con;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
  margin: 0;
  padding-left: 31px;
  margin-top: 12px;
  margin-bottom: 28px;
  text-transform: uppercase;
}

.footer__nav ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  list-style-type: none;
  padding: 0;
}

.footer__nav ul li {
  min-width: 285px;
  padding-left: 30px;
}

.footer__nav ul li a {
  font-family: $pt-mono;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  color: #1b2d37;
  opacity: 0.5;
}

.footer__nav ul li a:hover {
  opacity: 1;
}

.footer__address h3 {
  font-family: $roboto-con;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
  color: #1b2d37;
  margin: 0;
  text-transform: uppercase;
  margin-top: 15px;
  margin-bottom: 25px;
}

.footer__address p,
.footer__address a {
  font-family: $pt-mono;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  color: #1b2d37;
  opacity: 0.5;
}

.footer__address a {
  display: block;
}

.footer__address a:hover {
  opacity: 1;
  cursor: pointer;
}

.footer__copyright-text {
  display: flex;
  justify-content: space-between;
  padding-bottom: 25px;
  padding-top: 15px;
}

.footer__copyright-text p {
  font-family: $pt-mono;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: #1b2d37;
  opacity: 0.5;
  text-transform: uppercase;
}
