.footer {
  width: 100%;
  background-color: #fafafa;
}

.footer__hidden {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  min-width: 337px;
  padding-left: 4px;
}

.footer__ul {
  column-count: 2;
  column-gap: 73px;
  padding-left: 19px;
  list-style-type: none;
  margin-top: 0;
}

.footer__icon {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.footer__wrapper {
  max-width: 1452px;
  margin: 0 auto;
  display: flex;
  padding: 50px 25px 42px 21px;
}

.footer__wrap-copyright {
  border-top: 1px solid rgba(95, 105, 98, 0.2);
}

.footer__copyright {
  max-width: 1452px;
  padding-left: 20px;
  margin: 0 auto;
  min-height: 52px;
}

.footer__confidentiality,
.footer__developed {
  color: #1b2d37;
}

.footer__copyright-p3 {
  margin-right: 194px;
}

.footer__copyright-wow {
  margin-right: 10px;
  margin-left: 210px;
}

.footer__icon li {
  padding-right: 14px;
}

.footer__confidentiality:hover,
.footer__developed:hover {
  color: $blue;
}

.footer__address {
  min-width: auto;
  padding-left: 85px;
}

.footer-contaner {
  flex-basis: 33.333%;
}

.footer__copyright-rights {
  margin-right: 74px;
}

.footer__copyright-devices {
  margin-right: 143px;
}

.footer__logo-img {
  display: flex;
}

.footer__logo-img a {
  display: flex;
  width: 215px;
}

.footer__logo-img a:hover {
  opacity: 0.6;
}

.footer__logo-img a p {
  font-family: $roboto-con;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 16px;
  color: #203c42;
  padding-top: 2px;
  padding-left: 10px;
  width: 165px;
}

.footer__logo-img a img {
  margin-top: 15px;
}

.footer__hidden-p {
  margin-bottom: 1px;
}

.footer__logo-img a p span {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #788891;
  font-family: $roboto;
}

.footer__logo ul li svg {
  fill: #cdcdcd;
}

.footer__logo ul li svg:hover {
  fill: $blue;
  cursor: pointer;
}

.footer__logo ul {
  display: flex;
  margin-top: 31px;
  align-items: center;
}

.footer__span {
  display: none;
}

.footer__nav {
  min-width: 564px;
  margin-right: 25px;
  padding-left: 0 px;
}

.footer__nav h2 {
  font-family: $roboto-con;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
  margin: 0;
  padding-left: 21px;
  margin-top: 12px;
  margin-bottom: 28px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.footer__nav ul li a {
  font-family: $pt-mono;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  color: #1b2d37;
  opacity: 0.5;
}

.footer__nav ul li a:hover {
  opacity: 1;
}

.footer__address h3 {
  font-family: $roboto-con;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
  color: #1b2d37;
  margin: 0;
  text-transform: uppercase;
  margin-top: 15px;
  margin-bottom: 11px;
  margin-left: 9px;
}

.footer__address p,
.footer__address a {
  font-family: $pt-mono;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  color: #1b2d37;
  opacity: 0.5;
}

.footer__address a {
  display: block;
}

.footer__address a:hover {
  opacity: 1;
  cursor: pointer;
}

.footer__copyright-text {
  display: flex;
  padding-bottom: 25px;
  padding-top: 1px;
}

.footer__copyright-text p {
  font-family: $pt-mono;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: #1b2d37;
  opacity: 0.5;
  text-transform: uppercase;
  letter-spacing: 0.04em;
}

@media (max-width: 1023px) {
  .footer__logo-img a img {
    margin-top: 9px;
  }

  .footer__logo-img p {
    padding-top: 16px;
    line-height: 18px;
  }

  .footer__logo-img a p {
    padding-top: 0;
    padding-left: 14px;
    margin-top: 18px;
    line-height: 20px;
  }

  .footer__logo-img a p span {
    letter-spacing: 0.06em;
  }

  .footer__wrapper {
    flex-wrap: wrap;
    padding: 0;
  }

  .footer__logo {
    flex-basis: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(95, 105, 98, 0.2);
    padding: 7px 7px 2px 26px;
  }

  .footer__logo ul {
    margin-top: -4px;
    margin-right: 5px;
  }

  .footer__span {
    font-family: $pt-mono;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
    display: block;
    color: #1b2d37;
    opacity: 0.5;
    margin-top: -7px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
  }

  .footer__copyright-p3 {
    margin-top: -1px;
    margin-right: 189px;
    margin-bottom: 20px;
  }

  .footer__copyright-wow {
    margin-right: 0;
    margin-left: 123px;
    margin-top: 0;
  }

  .footer__nav {
    min-width: 0;
    margin-right: 0;
    flex-basis: 50%;
    padding: 0 0 0 26px;
  }

  .footer__nav ul {
    display: flex;
    flex-direction: column;
  }

  .footer__nav ul li {
    padding-left: 0;
    order: 10;
  }

  .footer__ul {
    padding-left: 0;
  }

  .footer__nav h2 {
    padding-left: 3px;
    margin: 38px 0 28px;
  }

  .footer__address {
    flex-basis: 50%;
    max-width: 360px;
    padding-left: 15px;
  }

  .footer__address h3 {
    margin-top: 38px;
    margin-bottom: 10px;
  }

  .footer__copyright {
    padding-left: 24px;
    padding-right: 24px;
  }

  .footer__copyright-text {
    padding-bottom: 30px;
    padding-top: 20px;
  }

  .footer__wrap-copyright {
    margin-top: 20px;
  }

  .footer__copyright-rights {
    display: none;
  }

  .footer__copyright-devices {
    display: none;
  }
}

@media (max-width: 767px) {
  .footer__logo {
    flex-direction: column;
    border-bottom: none;
    padding: 38px 0 0 0;
  }

  .footer__logo ul li {
    margin-right: -7px;
    padding-left: 7px;
  }

  .footer__wrapper {
    display: block;
  }

  .footer__nav {
    flex-basis: 100%;
    margin-top: 49px;
    border-top: 1px solid rgba(95, 105, 98, 0.2);
    border-bottom: 1px solid rgba(95, 105, 98, 0.2);
    min-width: 290px;
    padding: 0 0 0 15px;
  }

  .footer__nav h2 {
    margin: 28px -2px 28px;
    position: relative;
  }

  .footer__address {
    flex-basis: 100%;
    max-width: 100%;
    min-width: auto;
    padding-left: 6px;
    padding-bottom: 26px;
  }

  .footer__copyright-text {
    flex-direction: column;
    align-items: center;
    padding-bottom: 31px;
    padding-top: 0;
  }

  .footer__address h3 {
    margin-top: 25px;
    margin-bottom: 34px;
    position: relative;
  }

  .footer__address p {
    padding-right: 70px;
  }

  .footer__wrap-copyright {
    margin-top: 0;
  }

  .footer__logo-img {
    margin-bottom: 7px;
  }

  .footer__logo-img p {
    padding-top: 20px;
    padding-left: 15px;
  }

  .footer__logo-img a p {
    margin-top: 21px;
  }

  .footer__logo ul {
    margin-top: 30px;
  }

  .footer__hidden {
    display: block;
  }

  .footer-contaner__collapse::before {
    content: "";
    position: absolute;
    background-image: url("../img/plus.png");
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    top: 0;
    right: 5%;
  }

  .footer-contaner__collapse.active::before {
    content: "";
    position: absolute;
    background-image: url("../img/minus.png");
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    top: 7px;
    right: 5%;
  }

  .footer-contaner__collapse:hover {
    cursor: pointer;
    text-decoration: underline;
  }

  .footer__span {
    text-transform: uppercase;
  }

  .footer__hidden .footer__ul {
    display: none;
  }

  .footer__copyright-p3 {
    margin-top: -23px;
    margin-right: 10px;
    margin-bottom: 20px;
  }

  .footer__copyright-wow {
    margin-left: 0;
  }
}
