.form-question {
  width: 100%;
  background-color: $blue;
  overflow: hidden;
  content: "";
}

.form-question__img img {
  position: absolute;
  width: 57%;
  height: auto;
  left: -15%;
  top: -33%;
}

.form-question__wrap {
  display: block;
  width: 570px;
  min-height: 453px;
  margin-left: auto;
  margin-bottom: 113px;
  position: relative;
}

.form-question__background {
  position: relative;
}

.form-question__wrap h3 {
  font-family: $roboto-con;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
  color: $white;
  margin-top: 90px;
  margin-bottom: 1px;
}

.form-question__wrap p {
  font-family: $pt-mono;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: $white;
  margin-bottom: 52px;
  margin-top: 10px;
}

.form-question__btn {
  display: flex;
  margin-top: 41px;
  justify-content: space-between;
}

.form-question__btn label {
  font-family: $pt-mono;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  width: 230px;
  color: $white;
  opacity: 0.8;
  display: block;
  position: relative;
  cursor: pointer;
  margin-top: 5px;
}

.form-question__btn label:hover {
  text-decoration: underline;
}

.form-question__btn button {
  font-family: $roboto-con;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: $white;
  background-color: transparent;
  border: 1px solid #ffffff;
  outline: none;
  width: 270px;
  min-height: 45px;
  padding: 13px 13px 13px 5px;
  border-radius: 5px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.form-question__btn button:hover {
  border: 1px solid $blue;
  background-color: $white;
  color: $blue;
  cursor: pointer;
}

.form-question__btn button:focus {
  border: 1px solid #6e85d6;
  background-color: $white;
  color: $blue;
  cursor: pointer;
}

.form-question__inputs input::placeholder,
.form-question__wrap form textarea::placeholder,
.form-question__text::placeholder {
  color: $white;
  opacity: 1;
}

.form-question__inputs input,
.form-question__wrap form textarea {
  background-color: #19baff;
  border: none;
  outline: none;
  color: $white;
  font-family: $pt-mono;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  box-shadow: none;
  border-radius: 0;
}

.form-question__inputs .form-question__input input {
  border: 1px solid #19baff;
  box-shadow: none;
  border-radius: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.form-question__inputs .form-question__input input:hover {
  border-color: #ffffff;
}

.form-question__inputs input:hover {
  border-color: #ffffff;
  border: 1px solid #ffffff;
}

.form-question__inputs .form-question__input input:focus {
  border: 1px solid #6e85d6;
}

.form-question__textarea textarea:hover {
  border-color: #ffffff;
  border: 1px solid #ffffff;
}

.form-question__textarea textarea:focus {
  border: 1px solid #6e85d6;
}

.form-question__textarea textarea {
  padding-top: 10px;
  border: 1px solid #19baff;
}

.form-question__inputs input {
  width: 270px;
  min-height: 50px;
  padding-left: 16px;
  box-shadow: none;
  border-radius: 0;
}

.form-question__inputs {
  display: flex;
  justify-content: space-between;
}

.form-question__text {
  width: 570px;
  min-height: 154px;
  resize: none;
  margin-top: 38px;
  padding-left: 16px;
  overflow: auto;
  background-color: #19baff;
  border: none;
  outline: none;
  color: $white;
  font-family: $pt-mono;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
}

.form-question__btn input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.form-question__consent::before {
  content: "";
  position: absolute;
  top: 1px;
  left: -34px;
  height: 19px;
  width: 19px;
  background-color: $blue;
  border: 1px solid white;
}

.form-question__btn input[type="checkbox"]:checked + label::after {
  content: "";
  background-image: url("../img/Vector.svg");
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  width: 20px;
  height: 20px;
  left: -35px;
  top: 2px;
}

//@media (max-width: 1024px) {}

@media (max-width: 1023px) {
  .form-question {
    min-width: 500px;
    background-image: none;
  }

  .form-question__img img {
    display: none;
  }

  .form-question__wrap {
    margin: 0 auto;
    width: 590px;
    margin-bottom: 104px;
  }

  .form-question__wrap h3 {
    margin-top: 81px;
    margin-bottom: 16px;
    font-size: 32px;
    line-height: 45px;
  }

  .form-question__btn {
    margin-top: 44px;
  }

  .form-question__wrap form textarea {
    width: 100%;
    min-height: 170px;
    padding-top: 5px;
  }

  .form-question__inputs input {
    width: 280px;
  }

  .form-question__text {
    width: 596px;
    min-height: 160px;
    margin-top: 43px;
  }

  .form-question__btn button {
    width: 279px;
  }

  .form-question__btn label span {
    left: -38px;
    height: 16px;
    width: 17px;
  }

  .form-question__btn span::after {
    left: 6px;
    top: 0 px;
    width: 5px;
    height: 8px;
  }

  .form-question__consent::before {
    top: 1px;
    left: -39px;
  }

  .form-question__btn input[type="checkbox"]:checked + label::after {
    left: -39px;
    top: 2px;
  }
}

@media (max-width: 767px) {
  .form-question {
    min-width: 320px;
  }

  .form-question__wrap {
    width: 100%;
    margin: 0 auto 41px;
  }

  .form-question__wrap h3 {
    font-size: 28px;
    line-height: 39px;
    margin-top: 30px;
    margin-bottom: 13px;
  }

  .form-question__wrap p {
    margin-bottom: 23px;
  }

  .form-question__inputs {
    display: block;
  }

  .form-question__btn button {
    min-width: 100%;
    display: block;
  }

  .form-question__wrap form textarea {
    margin-top: 0;
    min-height: 110px;
    line-height: 26px;
    padding-top: 10px;
  }

  .form-question__inputs input {
    margin-bottom: 30px;
    width: 100%;
    padding-top: 9px;
  }

  .form-question__text {
    width: 100%;
    margin-top: 0;
    min-height: 108px;
  }

  .form-question__btn {
    display: block;
    margin-top: 30px;
  }

  .form-question__btn label {
    width: 100%;
    margin-top: 33px;
    padding-left: 35px;
  }

  .form-question__btn label span {
    left: 1px;
    height: 15px;
    width: 15px;
  }

  .form-question__btn label span::after {
    left: 5px;
    top: 2px;
    width: 4px;
    height: 8px;
  }

  .form-question__inputs input::placeholder,
  .form-question__wrap form textarea::placeholder {
    line-height: 26px;
    opacity: 1;
  }

  .form-question__consent::before {
    left: 0;
    height: 18px;
    width: 18px;
  }

  .form-question__btn input[type="checkbox"]:checked + label::after {
    left: 3px;
    width: 11px;
    height: 11px;
    top: 3px;
  }

  .form-question__textarea textarea {
    padding-top: 18px;
  }
}
