$roboto-con: "Roboto Condensed", "Arial", sans-serif;
$roboto: "Roboto", "Arial", sans-serif;
$pt-mono: "PT Mono", "Arial", sans-serif;
$white: #ffffff;
$blue: #00b2ff;
$black:#666666;
$mobile-width: 320px;
$mobile-width-only: 749px;
$desktop-large-width: 1920px;
$color-dark-blue: #1b2931;
$color-dark-blue-2: #203c42;
$color-dark-blue-3: #1b2d37;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
$font: "PT Mono", "Georgia", serif;
$font-alt: "Roboto Condensed", "Arial", sans-serif;
