@font-face {
  font-family: "Roboto Condensed";
  src: url("../fonts/robotocondensed-regular.woff2") format("woff2"),
    url("../fonts/RobotoCondensed-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Condensed";
  src: url("../fonts/robotocondensed-bold.woff2") format("woff2"),
    url("../fonts/RobotoCondensed-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Mono";
  src: url("../fonts/ptmono-regular.woff2") format("woff2"),
    url("../fonts/PTMono-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/robotocondensed-regular.woff2") format("woff2"),
    url("../fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

body {
  font-weight: 400;
  font-size: 14px;
  color: #111111;
  min-width: 320px;
  padding: 0;
  margin: 0;
  font-family: "PT Mono", "Arial", sans-serif;
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@mixin title-h2($margin-bottom: 0) {
  margin-top: 0;
  margin-bottom: $margin-bottom;
  font-family: $roboto-con;
  font-weight: 400;
  font-size: 28px;
  line-height: 140%;

  @media (min-width: 767px) {
    font-size: 32px;
  }

  @media (min-width: 1024px) {
    font-size: 36px;
    line-height: 51px;
  }
}

@mixin input {
  width: 100%;
  padding: 11px 15px 15px 16px;
  background-color: rgba(255, 255, 255, 0.1);
  font-family: $pt-mono;
  font-size: 16px;
  line-height: 22px;
  color: white;
  border: 1px solid transparent;
  outline: none;
  transition: border-color 0.3s;
  border-radius: 0;

  &::placeholder {
    color: white;
  }

  &:hover,
  &:focus {
    border-color: white;
    transition: border-color 0.3s;
  }

  @media (max-width: 1024px) {
    padding-top: 12px;
    padding-left: 18px;
    padding-bottom: 16px;
    padding-right: 15px;
  }
}
